body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size :50px;
}
h2{
    font-size: 40px;
}
p{
    color: gray;
}
.clr{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 7%;
    text-align:justify;
}
.half-width2{
    width: 50%;
    padding-right: 20%;
    text-align: left;
}
.half-width2 img{
    width: 130%;
    padding-left: 5%;
    
}
.half-width img{
    width: 90%;
    padding-right: 10%;
    
}
.link-button{
    text-decoration: none;
    background-image: radial-gradient(rgba(240, 139, 102, 0.938), rgba(241, 41, 10, 0.897));
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;   
}
.top-part{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.middle-part{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.last-part{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
.exp-item{
    width:40%;
    margin-left:5%;
    margin-right: 2%;
    padding:30px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
#web-dev-exp{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    
}
#ful-stack-dev{
    border-left: 7px solid;
    border-image: linear-gradient(rgba(255, 68, 0, 0.808), rgb(248, 173, 160));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}